<% content_for :stylesheets do %>
  <%= stylesheet_link_tag    "spirit/press/application", media: "all" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "spirit/press/application" %>
<% end %>

<% content_for :main do %>
  <script type="text/javascript">
    $('.navbar-nav .nav-plugin-press').addClass("active");
  </script>
  <div id="spirit-press">
    <%= yield %>
  </div>
<% end %>

<%= render template: "/layouts/application" %>
