/*
 *= require_self
 */
#spirit-press {


  textarea#post_body { height: 400px; }

  .toolbar {
    margin-bottom: 15px;
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
  }

  .filter {
    font-size: 15px;
  }

  #post-list {
    .panel-body {
    }

    .post {
      margin: 0 -15px;
      padding: 0 15px 15px 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #eee;

      @media (max-width: 480px) {
      }

      &:last-child {
        border-bottom: 0;
        margin-bottom: 0px;
      }
    }

    .post-likes {
      width: 60px;
      text-align: center;
      padding-top: 0px;
      color: #666;

      &.active {
        .icon { color: #EB5424; }
      }

      .icon {
        font-size: 22px; margin-bottom: 0px;

      }
      .counter { font-size: 14px; }
    }

    .post-title { font-size: 18px; line-height: 22px; margin-bottom: 0px; }
    .post-summary {
      padding: 10px 0;
      font-size: 14px; color: #888;
    }
    .post-info {
      color: #aaa;
      font-size: 12px;
      a { color: #aaa; }
    }

    @media (max-width: 480px) {
      .post-title { font-size: 16px; line-height: 18px; }
      .post-likes {
        width: 40px;
      }
    }

  }


  #post-detail {
    .panel-body {
      padding: 30px 50px;
    }

    @media (max-width: 480px) {
      .panel-body {
        padding: 15px;
      }
    }

    h1 {
      text-align: center; margin-bottom: 15px;
      font-size: 24px;
    }

    .post-opts,
    .post-info,
    .post-actions {
      text-align: center;
      color: #999;
    }


    .social-share-button {
      text-align: center;
      margin: 15px 0;
      height: 24px;
      .ssb-icon {
        width: 24px; height: 24px;
        background-size: 24px 24px;
      }
    }

    .post-info {
      .media-object { display: inline; }
      a { color: #777;}
      a.user-name { color: #0069D6; font-weight: bold; }
      margin-bottom: 20px;
    }

    .post-actions {
      margin-top: 15px;
      .btn {
        padding: 8px 20px 6px 20px;
        border-radius: 6px;
        font-size: 16px;
        margin: 0 5px;
      }

      .likeable {
        &.active {
          color: #EB5424;
          background: #fff !important;
          box-shadow: 0 0 0;
        }
      }
    }
  }
}

.post-upcoming {
  .post {
    .title {
      font-size: 16px;
      a { color: #2e3ebd; }
      a:visited { color: #777; }
    }
    .author,
    .time { width: 120px; }
  }
}
